@{
    ViewData["Title"] = "About";
}

<h1>About</h1>
<p>Hey there. This is my recipe manager code sample. It was also my capstone for my 6th (final) semester at Mohawk College. It's just a run of the mill recipe website. There should be more error handling, unit tests & user validation on actions. I'd also like to make it look nicer aesthetically.</p>

<h3>Proposal March 2020</h3>
<p>In my 5th semester I had to make a proposal for the capstone I would do in my 6th semester. This proposal included functionality charts, page mockups, and an entity relationship diagram. You can download the pdf here: <a href="https://1drv.ms/b/s!AtOBZRq7zh1_h6cvLJqBlOpqCr-Ziw?e=C6X1M1">OneDrive Link</a>   </p>

<h3>Completion November 2020</h3>
<p>Work on this project began in September 2020 at the start of my 6th semester. I submitted it Nov 10, 10 days before the Early Submission Date, and more than a month before the Final Submission Date on Dec 14. I recieved 100% on it.</p>

<h3>Test Logins</h3>
<table class="table table-bordered w-50">
    <tr>
        <th>User</th>
    </tr>
    <tr>
        <td>username</td>
        <td>user@recipe.ca</td>
    </tr>
    <tr>
        <td>password</td>
        <td>Password!1</td>
    </tr>
    <tr>
        <td>Functionality</td>
        <td>CRUD, Set Public/Private, Rate, Search, Filter, Favourite</td>
    </tr>
</table>
<table class="table table-bordered w-50">
    <tr>
        <th>Admin</th>
    </tr>
    <tr>
        <td>username</td>
        <td>admin@recipe.ca</td>
    </tr>
    <tr>
        <td>password</td>
        <td>Password!1</td>
    </tr>
    <tr>
        <td>Functionality</td>
        <td>Homepage Feature, Analytics</td>
    </tr>
</table>

<h3>Building Locally</h3>
<table class="table table-bordered">
    <tr>
        <td>1</td>
        <td>Download the repository from <a href="https://github.com/CurtisNeely/RecipeManager">https://github.com/CurtisNeely/RecipeManager</a></td>
    </tr>
    <tr>
        <td>2</td>
        <td>Have a local instance of Microsoft SQL Server Management Studio running </td>
    </tr>
    <tr>
        <td>3</td>
        <td>Open in Visual Studio</td>
    </tr>
    <tr>
        <td>4</td>
        <td>Delete the files in the migration folder</td>
    </tr>
    <tr>
        <td>5</td>
        <td>Execute in the PM Console: add-migration init</td>
    </tr>
    <tr>
        <td>6</td>
        <td>Execute in the PM Console: update-database</td>
    </tr>
    <tr>
        <td>7</td>
        <td>Run application in IIS</td>
    </tr>
</table>

<h3 class="text-primary">Updates</h3>

<table class="table table-bordered">
    <tr>
        <td>April 10, 2021</td>
        <td>Removed IsPublic from search view, and added an About Page</td>
    </tr>
    <tr>
        <td>April 11, 2021</td>
        <td>Added a UnitTesting project. Need to refactor some controller action logic into service methods to start testing.</td>
    </tr>
</table>
