@{
    ViewData["Title"] = "Home Page";
}

<div class="row justify-content-center">
    <div class="col-auto">
        <h1 class="text-center display-4">Featured Recipes</h1>
        <table>
            <tr>
                <td><img class="card-img-top m-2" src="https://www.cookingclassy.com/wp-content/uploads/2019/07/birthday-cake-4.jpg" style="width: 200px; height: 200px; object-fit: cover; border-radius: 50%; cursor: pointer;" /></td>
                <td><img class="card-img-top m-2" src="https://cdn3.tmbi.com/toh/GoogleImagesPostCard/exps6086_HB133235C07_19_4b_WEB.jpg" style="width: 200px; height: 200px; object-fit: cover; border-radius: 50%; cursor: pointer;" /></td>
                <td><img class="card-img-top m-2" src="https://az826390.vo.msecnd.net/cdn/media/home/inspiring_recipes/recipes/new_-_m/pizza-margherita-1160x650.ashx" style="width: 200px; height: 200px; object-fit: cover; border-radius: 50%; cursor: pointer;" /></td>
            </tr>
            <tr>
                <td><img class="card-img-top m-2" src="https://img1.mashed.com/img/gallery/the-untold-truth-of-froot-loops/intro-1586358784.jpg" style="width: 200px; height: 200px; object-fit: cover; border-radius: 50%; cursor: pointer;" /></td>
                <td><img class="card-img-top m-2" src="https://galbanicheese.com/wp-content/uploads/2019/09/Cheese-Lasagna-72DPI1-e1476892466909-800x600.jpg" style="width: 200px; height: 200px; object-fit: cover; border-radius: 50%; cursor: pointer;" /></td>
                <td><img class="card-img-top m-2" src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/190508-instant-pot-chicken-and-rice-horizontal-3-1558017055.png?crop=1.00xw:0.752xh;0,0.0841xh&resize=1200:*" style="width: 200px; height: 200px; object-fit: cover; border-radius: 50%; cursor: pointer;" /></td>
            </tr>

        </table>
        </div>
    </div>
