@model RecipeManager.ViewModels.AnalyticsViewModel

<h1>Admin Analytics</h1>

<table class="table table-bordered text-center">
    <tr>
        <th>Recipes</th>
        <th>Private Recipes</th>
        <th>Public Recipes</th>
        <th>Users</th>
    </tr>
    <tr>
        <td>@Model.recipeCount</td>
        <td>@Model.privateRecipeCount</td>
        <td>@Model.publicRecipeCount</td>
        <td>@Model.userCount</td>
    </tr>
</table>
<br />

<h3>Graph the Analytics</h3>
<form asp-action="Index">
    <div class="row">
        <div class="col">
            <label class="col-form-label">Start Date</label>
            <input type="date" class="form-control" name="StartDate">
        </div>
        <div class="col">
            <label class="col-form-label">End Date</label>
            <input type="date" class="form-control" name="EndDate">
        </div>
    </div>
    <input type="submit" value="Make Graphs!" class="btn btn-primary mt-2" />
</form>

<canvas id="myChart"></canvas>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script>
    var ctx = document.getElementById('myChart').getContext('2d');
    var chart = new Chart(ctx, {
        // The type of chart we want to create
        type: 'line',

        // The data for our dataset
        data: {
            labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July'],
            datasets: [{
                label: 'My First dataset',
                backgroundColor: 'rgb(255, 99, 132)',
                borderColor: 'rgb(255, 99, 132)',
                data: [0, 10, 5, 2, 20, 30, 45]
            }]
        },

        // Configuration options go here
        options: {}
    });
</script>
