@model RecipeManager.ViewModels.AnalyticsViewModel

<h1>Admin Analytics</h1>

<table class="table table-bordered text-center">
    <tr>
        <th>Recipes</th>
        <th>Private Recipes</th>
        <th>Public Recipes</th>
        <th>Users</th>
    </tr>
    <tr>
        <td>@Model.recipeCount</td>
        <td>@Model.privateRecipeCount</td>
        <td>@Model.publicRecipeCount</td>
        <td>@Model.userCount</td>
    </tr>
</table>
<br />

<h3>Analytics in Graphs</h3>
<form asp-action="Index">
    <div class="row">
        <div class="col">
            <label class="col-form-label">Start Date</label>
            <input type="date" class="form-control" name="StartDate">
        </div>
        <div class="col">
            <label class="col-form-label">End Date</label>
            <input type="date" class="form-control" name="EndDate">
        </div>
    </div>
    <input type="submit" value="Make Graphs!" class="btn btn-primary mt-2" />
</form>
