@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Something went wrong. Strange.</h1>
<input type="button" class="btn btn-outline-danger m-1" value="Lets take you home" onclick="location.href='@Url.Action("Index", "Home")'">

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}